
# Dependencies
node_modules/
.venv/

# Environment
.env
.env.*
*.db

# Logs and Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Build Output
dist/
dist-ssr/
build/
backend/static/
wheels/
*.egg-info
__pycache__/
*.py[oc]

# OS & Editors
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.suo
*.sln
*.bak_*
artifacts/reports/*
*.db-shm
*.db-wal
backend/agent/db_schema.yaml
backend/agent_v2/db_schema.yaml